---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset 'utf-8';
@import 'custom'; // variables for bootstrap
@import 'bootstrap';

// responsive breakpoints
$mobile-only:       'only screen and (max-width: 580px)';
$tablet-only:       'only screen and (min-width: 580px and max-width: 991px)';
$desktop-and-above: 'only screen and (min-width: 992px)';
$bootstrap-sm:      'only screen and (max-width: 768px)';

.special-background {
  background: url(/img/congruent_pentagon_bright.png);
  background-size: 65% auto;
  background-position: 0 0;
  transition: background-position 2s ease;

  &.movin {
    background-position: 0 100px;
  }
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  width: 100%;
}

.site-container {
  flex: 1 0 auto;
}

.section {
  padding-top: 100px; // space for header on anchor navigate

  &.section-top {
    padding-top: 60px;
  }

  h2 {
    text-transform: uppercase;
  }

  h3:not(.no-top-margin) {
    margin-top: 40px;
  }
}

.section-row {
  overflow: hidden;

  .section::before {
    content: '';
    display: block;
    position: absolute;
    top: 100px;
    right: -100%;
    width: 90%;
    height: 10000px;

    background: url(/img/congruent_pentagon_bright_linear.svg);
    background-size: 400px auto;
  }

  &:last-child {
    .section::before {
      background-image: none;
    }
  }
}

.section-row:nth-child(even) {
  @extend .flex-items-xs-right;

  .section::before {
    left: -100%;
  }
}

.introduction {
  @media #{$bootstrap-sm} {
    margin-bottom: 40px;
  }

  h2,
  p {
    display: inline;
  }

  p {
    font-family: $font-family-serif;
    line-height: 1.8;
  }

  p:last-child {
    display: block;
    margin-top: 18px;
  }

  .conf-name {
    font-size: 1.2rem;
  }
}

.conf-name {
  font-weight: strong;
  font-family: $font-family-sans-serif;
  font-weight: bold;
}

.site-footer {
  margin-top: 100px;
  flex: none;
  width: 100%;
  @extend .special-background;
  background-size: auto auto;
  padding-top: 15px;
  padding-bottom: 100px;

  .container {
    padding: 0;
  }

  ul {
    display: inline-block;
    padding: 0;
    margin: 0;

    > li {
      display: inline-block;
      list-style-type: none;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .row {
    margin: 20px 0;
  }

  p,
  li {
    background-color: #ffffff;
    padding: 8px 15px;
  }
}

.hero-block-container {
  margin-top: 90px;
  margin-bottom: 40px;
  padding: 0;

  @media #{$mobile-only} {
    padding: 0 15px;
  }
}

.hero-block {
  position: relative;
  @extend .special-background;

  img {
    // the image is just there as a placeholder so we don't have to fix
    // the height of the bg img - the image by itself has nasty anti-aliasing
    visibility: hidden;
    max-width: 100%;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/img/hero-logo.svg) no-repeat center center;
    background-size: cover;
  }
}

.hero-block-label {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  span {
    display: none;
  }

  h4 {
    text-align: center;
    font-size: $font-size-h5;
    margin: 0 30px 15px;
  }

  @media #{$desktop-and-above} {
    flex-wrap: nowrap;

    h4,
    span {
      text-transform: uppercase;
      font-size: $font-size-h4;
      font-weight: $headings-font-weight;
      font-family: $headings-font-family;
      line-height: $headings-line-height;
      display: inline-block;
    }
  }
}

.navbar-toggler {
  padding-left: 0;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.4);
}

#mc_embed_signup {
  background: transparent;
  margin: 15px 0;

  form {
    padding: 0;
  }

  #mc-embedded-subscribe {
    margin: 0;
  }
}

#map-canvas {
  margin: 15px 0;
  height: 350px;
  overflow: hidden;
  position: relative;

  @media #{desktop-and-above} {
    height: 500px;
  }
}

.sponsors-block {
  margin: 30px 0 0;

  h4 {
    margin-bottom: 20px;
  }

  .sponsors-row  {
    margin-top: 15px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;

    img {
      max-width: 200px;
      margin-right: 20px;

      &:last-child  {
        margin: 0;
      }
    }
  }
}

.hidden {
  display: none;
}

.btn-default,
#mc_embed_signup input {
  border: 1px solid #ccc;
  background-color: #ffffff;
  border-radius: 0;
  color: $link-color;

  &:hover,
  &:active {
    color: $link-hover-color;
  }
}

.post-list {
  list-style-type: none;
  padding: 0;
}

article.post {
  margin-top: 80px;
}

.post-meta {
  @extend .text-muted;
}

.post-back {
  margin-top: 60px;
}
