---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset 'utf-8';
@import 'custom'; // variables for bootstrap
@import 'bootstrap';

$z-index-navbar: 10;

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $z-index-navbar;
}

.site-container {
  flex: 1 0 auto;
  padding: 60px 15px 0;
}

.section {
  padding-top: 60px; // space for header on anchor navigate
}

.site-footer {
  flex: none;
  width: 100%;
  background-color: $gray-lightest;
  line-height: 60px;

  ul {
    display: inline-block;
    padding: 0;
    margin: 0;

    > li {
      display: inline-block;
      list-style-type: none;
    }
  }
}

.container {
  max-width: 720px;
}
