---
layout: default
---

{% assign sorted_pages = site.pages | sort:"menu_order" %}

{% for page in sorted_pages %}
  {% if page.title %}
  <div id='{{ page.title | slugify }}' class='section'>{{ page.content | markdownify }}</div>
  {% endif %}
{% endfor %}

<h3>Latest News</h3>

<ul class="post-list">
  {% for post in site.posts %}
    <li>
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

      <h4>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
      </h4>
    </li>
  {% endfor %}
</ul>

<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
