<h6>Cost key:</h6>
<ul>
  <li><span class="food-list-cost">$</span> = Main is roughly $5 -> $15</li>
  <li><span class="food-list-cost">$$</span> = Main is roughly $15 -> $30</li>
  <li><span class="food-list-cost">$$$</span> = Main is on average $30+</li>
</ul>

{% capture rawtags %}
{% for option in site.data.food %}
{{ option.type }}
{% if forloop.last %}{% else %}|{% endif %}
{% endfor %}
{% endcapture %}
{% assign alltags = rawtags | split: "|" %}
{% assign tags = alltags | uniq %}

<h6>Filter by tag:</h6>
<p class="food-list-tag-filter">
  <button class="food-list-tag btn btn-default selected" data-tag="all">All</button>
  {% for tag in tags %}
    <button class="food-list-tag btn btn-default" data-tag="{{ tag | slugify }}">{{ tag }}</button>
  {% endfor %}
</p>

<hr>

<ul class="food-list">
  {% for option in site.data.food %}
    <li data-type="{{ option.type | slugify }}">
      <h4>{{ option.name }} <span class="food-list-tag">{{ option.type }}</span></h4>
      <p class="food-list-address">{{ option.address }}</p>
      <span class="food-list-cost-label">Cost: <span class="food-list-cost">{{ option.cost }}</span></span>
      <span class="food-list-walktime-label">Walk time: <span class="food-list-walktime">{{ option.walktime }} mins</span></span>
      <a class="btn btn-default" href="{{ option.directions }}">Directions</a>
      <a class="btn btn-default" href="{{ option.website }}">Website</a>
    </li>
  {% endfor %}
</ul>
