<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <span class="text-muted">&copy; <a href="mailto:{{ site.email }}">{{ site.title | escape }}</a></span>
      </div>
      <div class="col-md-6">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</footer>
