{% assign custom_url = site.url | append: site.baseurl %}
{% assign full_base_url = custom_url %}
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p class="text-muted">&copy; <span class="conf-name"><a href="mailto:{{ site.email }}">{{ site.title | escape }}</a></span></p>
      </div>
      <div class="col-md-6">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <p><span class="conf-name">nz.js(con);</span> is run by <a href="http://javascript.org.nz/">JavaScript NZ Incorporated</a>. Want to get involved? Join the <a href="https://javascriptnewzealand.slack.com/messages/js-conf/">#js-conf</a> channel on our <a href="http://slack.javascript.org.nz/">public slack channel</a>.</p>
      </div>
    </div>
  </div>
</footer>

<!-- JavaScript -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.1/js/tether.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="sha384-VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>
<script src="{{ "/js/main.js" | prepend: full_base_url }}"></script>
<script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-81673252-1','auto');ga('send','pageview');
</script>
