{% if talk %}
<td>
  {% if talk.type == 'keynote' %}
    <h5>Keynote: {{ talk.name }}</h5>
    <div class="talk-abstract">
      <button class="btn btn-default talk-abstract-show" aria-controls="{{ talk.name | slugify }}" aria-expanded="false">Show bio</button>
      <div id="{{ talk.name | slugify }}" class="hidden">
        <p>{{ talk.bio }}</p>
        <button class="btn btn-default talk-abstract-hide" aria-controls="{{ talk.name | slugify }}" aria-expanded="true">Hide bio</button>
      </div>
      {% if talk.video.size > 0 %}
        <a class="talk-video-link" href="{{ talk.video }}">Watch video</a>
      {% endif %}
    </div>
  {% elsif talk.title %}
    <h5>{{ talk.title }}</h5>
    {% if talk.name %}
      <span class="talk-speaker">
        {{ talk.name }}
      </span>
    {% endif %}
    {% if talk.abstract %}
      <div class="talk-abstract">
        <button class="btn btn-default talk-abstract-show" aria-controls="{{ talk.title | slugify }}" aria-expanded="false">Show description</button>
        <div id="{{ talk.title | slugify }}" class="hidden">
          <p>{{ talk.abstract }}</p>
          <button class="btn btn-default talk-abstract-hide" aria-controls="{{ talk.title | slugify }}" aria-expanded="true">Hide description</button>
        </div>
      </div>
      {% if talk.video.size > 0 %}
        <a class="talk-video-link" href="{{ talk.video }}">Watch video</a>
      {% endif %}
    {% endif %}
  {% else %}
    <h5>{{ talk }}</h5>
  {% endif %}
</td>
{% else %}
<td class="empty"></td>
{% endif %}
