html {
  height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

h1 {
  margin-bottom: 30px;
}

blockquote {
  font-size: 0.95rem;
  padding-left: 30px;
  color: #666;
}

.hidden {
  display: none;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

.btn-default,
#mc_embed_signup input {
  border: 1px solid #ccc;
  background-color: #ffffff;
  border-radius: 0;
  color: $link-color;

  &:hover,
  &:active {
    color: $link-hover-color;
  }
}

.post-list {
  list-style-type: none;
  padding: 0;

  > li {
    margin-bottom: 15px;
  }
}

article.post {
  margin-top: 80px;
}

.post-meta {
  @extend .text-muted;
}

.post-back {
  margin-top: 60px;
}
