#mc_embed_signup {
  background: transparent;
  margin: 15px 0;

  form {
    padding: 0;
  }

  #mc-embedded-subscribe {
    margin: 0;
  }
}

#map-canvas {
  margin: 15px 0;
  height: 350px;
  overflow: hidden;
  position: relative;

  @media #{desktop-and-above} {
    height: 500px;
  }
}
