@import "~/utils/variables";

.hero {
  padding-top: $fixed-nav-height; // offset fixed header
  margin-bottom: -$fixed-nav-height; // pull up content underneath
  background: $minion-yellow;
  overflow: hidden; // make a BFC

  > * {
    // container
    // background: no-repeat bottom right / contain url("~/images/civic-pyramid.png");
    height: $fixed-hero-height - 40px; // minus the margin below
    margin: 30px auto 10px;
    display: flex;
    align-items: flex-end;

    h1 {
      margin: 8px 0;
    }
  }
}

.sponsorTier {
  h4 {
    padding-bottom: 12px;
  }
}
