// variables
@import "~/utils/variables";

// bootstrap core (needs to be after variables import)
@import "~bootstrap/scss/bootstrap";

h1,
h4,
h5 {
  font-family: "M PLUS Rounded 1c";
  font-weight: 700;
}

.conf-name {
  font-weight: 700;
}

.navbar-brand {
  font-weight: 700;
}

.row > div {
  margin-bottom: 20px;
}

.lead strong {
  font-weight: 700;
}

h1 {
  font-size: 3.5rem;

  @include media-breakpoint-up(md) {
    font-size: $h1-font-size;
  }
}
