<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
  <body>

    {% include header.html %}

    <div class="container hero-block-container">
      <div class="hero-block positioned">
        <span class="sr-only">nz.js(con);</span>
        <div class="hero-block-image">
          <img src="{{ site.baseurl }}/img/hero-logo.svg" alt="logo">
        </div>
      </div>
    </div>

    <div class="container site-container">
      <div class="row">
        <div class="col-md-12">{{ content }}</div>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
