{% capture excerpt_words %}
  {{ page.excerpt | number_of_words }}
{% endcapture %}

{% capture content_words %}
  {{ page.content | number_of_words }}
{% endcapture %}

{% capture page_id %}{{ page.title | slugify }}{% endcapture %}

<div class="row section-row">

  <div class="{% if page_id == 'sponsors' %}col-md-12{% else %}col-md-7{% endif %}">
    <div id="{{ page_id }}" class="section">
      {% if excerpt_words != content_words %}
        <div class="section-excerpt">{{ page.excerpt }}</div>
        <button type="button" class="section-excerpt-read-more btn btn-default">Read more</button>
        <div class="section-content hidden">{{ content }}</div>
      {% else %}
        {{ content }}
      {% endif %}
    </div>
  </div>
</div>
